.Title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
    
}


.CardStep {
    margin-left: 25px;
}



@media (max-width: 1279px) {

    
}



@media (max-width: 767px) {
    
    .Title {
        padding-left: 8px;
    }
       
    
        
}


