.WrapImag {
    position: relative;
    line-height: 0;
}    



.Image {
    width: 560px;
    height: 350px;
    border-radius: 10px;
}

.Wrapper {
    
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.Wrapper:nth-child(odd) {
    flex-direction: row-reverse;

}

.Description {
    text-align: left;
    padding-bottom: 25px;
}

.Title {
    text-align: left;
    padding-bottom: 15px;
}

.Description a {
    color: rgba(37, 44, 62, .6);
    text-decoration: none;
}

.Link {
    cursor: pointer;
    margin-top: 25px;
    text-decoration: underline;
    text-transform: capitalize;
    ;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #da4b07;

}

.Link:hover {
    text-decoration: none;
}

.Date {
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 0;
    background:rgba(37, 44, 62, 0.6);
    border-radius: 10px 0 10px 0;
    width: 90px;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: bold;
    color:#fff;



}

@media (max-width: 1279px) {
    .Wrapper {
        flex-direction: column;
    }

    .Wrapper:nth-child(odd) {
        flex-direction: column-reverse;
    }


}


@media (max-width: 767px) {

    .Wrapper:nth-child(odd) {
        flex-direction: column;
    }


    .Image {
        width: 90vw;
        border-radius: 0;
        height: auto;
    }

    .Description, .Title {
        padding-left: 8px;
        padding-right: 8px;
    }

    .Description {
        line-height: 165%;
    }

    .Link {

        margin-top: 10px;
        padding-left: 8px;

    }

    .Wrapper {
        padding-bottom: 15px;
    }

    .Date {
        right: calc((100% - 90vw) / 2);
        border-radius: 10px 0 0 0;
    }
}


@media (max-width: 425px) {
    
    .Image {
        width: 95vw;
        
    }

    .Date {
        right: calc((100% - 95vw) / 2);

    }

}