button {
    box-sizing: border-box;
    background: #DA4B07;
    border-radius: 5px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 130%;
    cursor: pointer;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
}

button:hover {
    background: #ef5106;
}