
.Title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 10px;

}

.Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

@media (max-width: 1279px) {
    
    .Wrapper {
        justify-content: center;
    }
   

    
}
@media (max-width: 767px) {
    
    .Title {
        padding-left: 8px;
    }
   

    
}