.Wrapper {
    height: 355px;
    width: 367px;
    border-radius: 10px;
}

.Header {
    min-height: 96px;
    background: #252C3E;
    border-radius: 10px 10px 0 0;
    padding-top: 19px;
}

.Subtitle {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;

}

.Content {
    background: #F9F9FB;
}

.AdultCalc {
    padding: 22px 15px 15px 25px;
    display: flex;
}

.AdultCalc__Name {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    font-style: bold;
    float: left;
    width: 78px;
    line-height: 48px;
    vertical-align: bottom;
}

.AdultCalc__Price, .ChildCalc__Price {
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    font-style: bold;
    float: left;
    width: 67px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 48px;
}

.ChildCalc__Price {
    float: none;
} 

.AdultCalc__PriceTitle, .ChildCalc__PriceTitle {
    font-size: 14px;
    font-weight: 400;
}

.ChildCalcTitle {
    display: none;
}


.AdultCalc__Button,
.AdultCalc__Count, .ChildCalc__Count {
    width: 48px;
    height: 48px;
    font-size: 24px;
    font-weight: 700;
    background: #FFFFFF;
    border: none;
    color: #252C3E;
    line-height: 48px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    padding: 0;

}

.AdultCalc__Count, .ChildCalc__Count {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    min-width: 60px;
}

.AdultCalc__Button {
    cursor: pointer;
}

.ChildCalc {
    padding: 0px 15px 17px 25px;
    font-size: 16px;
    font-weight: 700;
    font-style: bold;
    line-height: 130%;
    text-align: left;
    float: left;
    background: #F9F9FB;
    display: flex;
}

.ChildCalc__Name {
    display: inline-block;
    width: 78px;
    height: 48px;
    vertical-align: -webkit-baseline-middle;

}

.ChildCalc__PriceTitle {
    display: none;
}

.ChildCalc__PriceSum {
    /* display: inline-flex;
    height: 48px;
    width: 67px;
    align-items: center;
    vertical-align: top; */

}


.PriceTotal {
    font-size: 18px;
    line-height: 130%;
    font-weight: 400;
    padding-bottom: 9px;

}

.PriceTotalSum {
    font-weight: 700;
}

.Button {
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #DA4B07;
    border-radius: 0px 0px 10px 10px;
    border: none;
    width: 100%;
    height: 60px;
    cursor: pointer;
}


@media (max-width: 767px) {
    .Wrapper {
        height: auto;
        width: 290px;
        border-radius: 10px;

    
    }

    .AdultCalc__Wrap, .ChildCalc__Wrap {
        display: inline-flex;
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .AdultCalc__Price, .ChildCalc__Price {
        margin-top: 8px;
        height: 100%;
        flex-direction: row;
        width: 100px;
    }

    .AdultCalc__Button, .AdultCalc__Count, .ChildCalc__Count {
        width: 40px;
        height: 40px;
        line-height: 40px;
        
    }

    .ChildCalc__PriceTitle {
        display: inline;
    }
    .ChildCalc__PriceSum {
        height: 100%;
    }

    .ChildCalc, .AdultCalc, .AdultCalc__Price, .ChildCalc__Price {
        font-size: 14px;
    }
}