.Title {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 30px;
}

.Ps {
    display: flex;
    row-gap: 0px;
    column-gap: 20px;
    flex-wrap: nowrap;
}

.Ps__Item {
    width: 367px;
    text-align: left;
}

.Ps__Item:last-child {
    font-size: 14px;
    font-weight: 700;
}

.Ps__Item:last-child div {
    margin-bottom: 14px;
    margin-left: 8px;
    padding-left: 8px;
}

.Ps__Item ul {
    margin: 0;
    padding-left: 20px;
    font-size: 12px;
    line-height: 130%;
}

.Ps__Item ul li {
    margin-bottom: 10px;
}

.Ps__Item ul li::marker {
    color: red;
    font-size: 1.5em;
}

@media (max-width: 1279px) {
    .Ps {
        flex-wrap: wrap;
    }
}

@media (max-width: 767px) {

    .Title {
        padding-left: 8px;
    }

    .Ps {
        margin-left: 8px;
    }
}