
.Wrapper {
    display: flex;
    flex-direction: column;

}

.Input {
    height: 48px;
    margin-bottom: 12px;
    display: flex;
}

.Input__input {
    flex-basis: 227px;
    flex-shrink: 2;
}

.Button {
    height: 48px; 
    /* float: left; */
    border-radius: 0 5px 5px 0;
    flex-shrink: 1;
    text-transform: uppercase;
}


.P1 {
    color: #fff;
    margin-bottom: 17px;
    text-align: left;

}
.P2 {
    color: #fff;
    
    text-align: left;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 12px;

}

.P3 {
    font-size: 12px;
  
    font-weight: 400;
    color: #F9F9FB;
    margin-top: 51px;
    width: 348px;
    height: 32px;

}

.Wrapper input {
    padding: 13px 8px 12px 24px;
    border-radius: 5px 0 0 5px;
    margin-bottom: 14px;
  
    display: inline;
    width: 227px;
    height: 48px;

}


.Wrapper input::placeholder {
    color: rgba(37, 44, 62, 0.6);
    line-height: 165px;

}

@media (max-width: 767px) {

    .Input__input {
        flex-basis: 180px;
    }

    .Button {
        font-size: 14px;
        padding: 5px;
    }
    .P2, .P3, .P1, .Input {
        max-width: 290px;
    }
}