

.Header__wrapper {
    max-width: 1300px; 
    height: 43px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100%;
}

.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 90%;
  align-content: center;
} 

@media (max-width: 1279px) {

  .Header__wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .Lang {
    display: none;
  }
  
}

@media (max-width: 767px) {
  .Header {
    height: 56px;
  }

}