.Header {
  background: rgba(37, 44, 62, 0.6);
  box-sizing: border-box;
}

.Header__wrapper {
    box-sizing: border-box;
    max-width: 1280px; 
    height: 43px;
    margin: auto;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}