.Wrapper {
    margin-right: 76px;
}

.Wrapper p {
    color: #fff;
    margin-bottom: 12px;
    text-align: left;

}

.AppStore {
    width: 151px;
    height: 43.44px;
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;

}