.Wrapper  {
    position: relative;
}

.List {
    position: absolute;
    bottom: -198px;
    left: -53px;
    background: #252C3E;
    border-radius: 5px;

}

ul {
    list-style: none;
   margin: 0;
    padding: 7px 40px 7px 20px;
    /* border-radius: 5px; */
}

.List ul li {
    font-weight: 400;
font-size: 14px;
line-height: 165%;
color: #ffffff;
margin: 0;
padding: 0 0 3px 0;
cursor: pointer;


}

.List ul li:last-child {
    padding: 0;
}